body {
  font-family: 'Inter', sans-serif;
  margin: 0;
}

img {
  border-radius: 50px;
  border: 5px solid rgba(181, 150, 205, 0.25);
  display: block;
}

.header {
  color: #B596CD;
}

a.redirectlink:link {
  font-weight: bold;
  text-decoration: none;
  color: rgba(181, 150, 205, 1);
}

a.redirectlink:visited {
  color: rgba(82, 49, 108, 0.6);
}

a.redirectlink:hover {
  text-decoration: underline;
  color: rgb(216, 198, 253);
}