body {
  font-family: 'Inter', sans-serif;
  margin: 0;
}

pre[class*="language-r"], code[class*="language-r"], pre[class*="language-python"], code[class*="language-python"] {
  white-space: pre-wrap !important;
  word-break: break-word !important;
  overflow-wrap: break-word !important;
  overflow-x: hidden !important;
}

.btn {
  border-color: #B596CD;
  color: #B596CD;
  font-weight: bold;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a:link {
  color: rgba(181, 150, 205, 1);
}

a:visited {
  color: rgba(181, 150, 205, 0.60);
}

a:hover {
  text-decoration: none;
  color: rgba(181, 150, 270, 1);
}

img {
  border-radius: 50px;
  border: 5px solid rgba(181, 150, 205, 0.25);
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.aboutlink {
  font-weight: bold;
  text-decoration: underline;
}

.container {
  margin: 4vh auto;
}

.navi {
  font-size: 0.90rem;
}

.row {
  margin-left: 30px;
  margin-right: 30px;
}

.container-fluid {
  padding-top: 7%;
  padding-bottom: 5%;
}

.name {
  font-family: "Pattaya", sans-serif;
  font-size: 5rem;
  font-weight: 800;
  font-style: normal;
  text-shadow: 5px 3px 0px rgba(181, 150, 205, 0.25);
  line-height: 80%;
}

.name {
  color: #B596CD;
}

.disclaimer, .cc {
  font-size: 0.75rem;
  font-style: italic;
}

.link {
  text-decoration: underline;
}

.leftcol {
  position: sticky;
  top: 0;
  align-self: flex-start;
  overflow-y: auto;
  padding-top: 1rem;
}

@media (max-width: 1200px) {
  .leftcol {
    position: static;
    padding-top: 0;
  }
}
