body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  text-transform: lowercase;
}

h2 {
  font-weight: bolder;
}

ul {
  list-style: outside;
}

a#downloadcv.btn.btn-bd-download, #olderexp.btn.btn-outline-secondary {
  border-color: #B596CD;
  color: #B596CD;
  font-weight: bold;
}

a#downloadcv.btn.btn-bd-download:hover, #olderexp.btn.btn-outline-secondary:hover {
  text-decoration: none;
  color: rgba(181, 150, 200, 1);
  background-color: rgba(181, 150, 200, 0.1);
  border-color: rgba(181, 150, 200, 1);
}

/* ul li::before {
  content: "";
  display: inline-block;
  width: 16px; 
  height: 16px;
  background-image: url("/images/arrow.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 0.5em;
  vertical-align: middle;
} */

.name {
  color: #B596CD;
  font-family: "Pattaya", sans-serif;
  font-size: 5rem;
  font-weight: 800;
  font-style: normal;
  text-shadow: 5px 3px 0px rgba(181, 150, 205, 0.25);
  line-height: 80%;
}

.experience {
  margin: 0;
  font-weight: bold;
}

.workplace {
  font-weight: normal;
}

.school {
  font-weight: bold;
}

.spiel {
  display: inline;
}

#backToTop {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 999;
  background-color: #B596CD;
  color: white;
  border: none;
  padding: 0.75rem 1rem;
  border-radius: 50%;
  font-size: 1rem;
  cursor: pointer;
  display: block;
  transition: opacity 0.3s;
}

#backToTop:hover {
  background-color: #555;
}