/* body {
    font-family: 'Inter', sans-serif;
    margin: 0;
} */

.name {
    color: #B596CD;
    font-family: "Pattaya", sans-serif;
    font-size: 5rem;
    font-weight: 800;
    font-style: normal;
    text-shadow: 5px 3px 0px rgba(181, 150, 205, 0.25);
    line-height: 80%;
}